---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<br><br>

<h1>Teaching Resources</h1>

<br>

<p><strong>Macroeconomics 2</strong> - Bachelor<br>
 LMU Munich, since summer 2022, TA for Prof. <a href="https://sites.google.com/view/uwesunde/home" target="_blank" rel="noopener noreferrer"> Uwe Sunde</a> and  Prof. <a href="https://sites.google.com/view/mirkowiederholt/startseite" target="_blank" rel="noopener noreferrer"> Mirko Wiederholt</a>. <br>
Link to <a href="https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=1090435&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung&noDBAction=y&init=y" target="_blank" rel="noopener noreferrer">LSF</a> and the <a href="https://moodle.lmu.de/course/view.php?id=42522" target="_blank" rel="noopener noreferrer">Moodle page</a> for the winter semester 2025/2026 (gated).</p>

<br>

<p><strong>Macroeconomics of Inequality</strong> - Bachelor, SPS Seminar<br>
LMU Munich, winter 2024/2025, with Prof.  <a href="https://chrisbusch.eu/" target="_blank" rel="noopener noreferrer">Christopher Busch</a>. <br>
Link to the <a href="{{ site.baseurl }}/files/SPS_inequality_reading.pdf" target="_blank" rel="noopener noreferrer">reading list</a>.</p>

<br>

<p><strong>Monetary Policy in the 21st Century</strong> - Bachelor, SPS Seminar<br>
 LMU Munich, winter 2023/2024 and winter 2024/2025, with <a href="https://www.goedlhanisch.com/" target="_blank" rel="noopener noreferrer">Isabel Gödl-Hanisch</a>. <br>
Link to the <a href="{{ site.baseurl }}/files/SPS_monpol_reading.pdf" target="_blank" rel="noopener noreferrer">reading list</a>.</p>

<br>

<p><strong>Graduate Econometrics</strong> - Master of Science<br>
 LMU Munich, winter 2021/2022, TA for <a href="https://www.mathiasiwanowsky.com/" target="_blank" rel="noopener noreferrer">Mathias Bühler</a>. <br>
Link to <a href="https://lsf.verwaltung.uni-muenchen.de/qisserver/rds?state=verpublish&status=init&vmfile=no&publishid=896961&moduleCall=webInfo&publishConfFile=webInfo&publishSubDir=veranstaltung&noDBAction=y&init=y" target="_blank" rel="noopener noreferrer">LSF</a> and the <a href="https://moodle.lmu.de/course/view.php?id=18365" target="_blank" rel="noopener noreferrer">Moodle page</a> (gated).</p>

<br>

<p><strong>math+econ+code</strong><br>
 NYU and Sciences Po (virtual), summer 2022, TA for Prof. <a href="https://alfredgalichon.com/" target="_blank" rel="noopener noreferrer">Alfred Galichon</a>. <br>
Link to the <a href="https://www.math-econ-code.org/" target="_blank" rel="noopener noreferrer">course</a>.</p>

{% comment %}

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

{% endcomment %}


